{% extends 'hospitality_staff_dashboard.html' %}
{% block content %}

<h1>Reservations</h1>
<div style="margin-bottom: 20px;">
    <a href="{{ url_for('hospitality_staff_dashboard.viewreservations') }}">See all reservations</a>
</div>


<script>
    function toggleReservationForm() {
        var form = document.getElementById("reservationForm");
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>
<div>
    <button onclick="toggleReservationForm()">Make a Reservation</button>
</div>


    <div id="reservationForm" style="display: none;">
        <h2 class="text-center">Make a Reservation</h2>
        <div class="row justify-content-center mt-3">
            <div class="col-lg-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('hospitality_staff_dashboard.booking') }}">
            
                            {{ form.csrf_token }}
                        <div class="row mt-3">
                            <div class="col">
                                {{ form.iitgn_id.label }} {{ form.iitgn_id }}
                            </div>
                            
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                {{ form.email_id.label }} {{ form.email_id }}
                            </div>
                            
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                {{ form.number_of_people.label }} {{ form.number_of_people }}
                            </div>
                            
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                {{ form.check_in_date.label }} {{ form.check_in_date }}
                            </div>
                            <div class="col">
                                {{ form.check_out_date.label }} {{ form.check_out_date }}
                            </div>
                            
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                {{ form.room_type.label }} {{ form.room_type }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                {{ form.specially_enabled_room_required.label }} {{ form.specially_enabled_room_required }}
                            </div>
                            
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                {{ form.comments.label }} {{ form.comments }}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                {{ form.submit }}
                            </div>
                        </div>
                    </form>

                    </div>
                  </div>
            </div>
        </div>
        
    </div>
{% endblock %}