{% extends 'hospitality_staff_dashboard.html' %}
{% block content %}

<h1>Check-out's Today:</h1>

{% if current_guests %}
<div style="overflow: auto; height: 300px;">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Guest ID</th>
                <th>Room Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email ID</th>
            </tr>
        </thead>

        <tbody>
            {% for guest in current_guests %}
            <tr>
                <td>{{ guest.guest_id }}</td>
                <td>{{ guest.room_no }}</td>
                <td>{{ guest.first_name }}</td>
                <td>{{ guest.last_name }}</td>
                <td>{{ guest.phone_no }}</td>
                <td>{{ guest.email_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% else %}
    <p>No check-out's today.</p>
{% endif %}

<h2 class="text-center">Check-out:</h2>

<form method="POST" action="{{ url_for ('hospitality_staff_dashboard.check_out') }}">
    <div class="row justify-content-center mt-3">
        <div class="col-lg-4">
            <div class="card mt-5">
                <div class="card-body">
                    {{ form.csrf_token }}
                    {{ form.guest_id.label }} {{ form.guest_id() }}
                    {{ form.submit() }}
                </div>
              </div>
        </div>
    </div>
    
</form>

{% endblock %}
