<!-- Footer Start -->
<footer class="footer bg-dark text-light">
    <div class="container">
      <div class="row">
        <!-- Column 1: Map -->
        <div class="col-lg-6 footer-column">
            <h5 class="text-center">Map</h5>
            <!-- Google Maps -->
          <div class="col-lg-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3076.1357326538036!2d72.688145534341!3d23.21002847859882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2b75a2718d1d%3A0x81688d641b24b8a9!2sIITGN%20Guest%20House!5e0!3m2!1sen!2sin!4v1712048510199!5m2!1sen!2sin" width="200%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
  
        </div>
        <!-- Column 1: Contact Information -->
        <div class="col-lg-5 footer-column">
          <h5 class="text-center">Contact Information</h5>
          <!-- Contact Details -->
          <div class="mt-4 mx-5">
            <p><strong>Address:</strong> Indian Institute of Technology Gandhinagar <br> Palaj, Gandhinagar - 382055, Gujarat</p>
            <p><strong>Mobile Number:</strong> +91 7069021583</p>
            <p><strong>Mailto:</strong> hospitality@iitgn.ac.in</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="container justify-content-center">
      <div class="row justify-content-center">
        <div class="text-center text-md mt-3">
          &copy; <a class="border-bottom text-light" href="https://www.iitgn.ac.in/">IIT Gandhinagar 2024</a>, All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->