{% extends 'housekeeping_staff_dashboard.html' %}

{% block content %} 

<h1>Assigned Requests</h1>
    
{% if assigned %}
    <table class="table table-bordered table-striped primary">
        <thead>
            <tr>
                <th>Request ID</th>
                <th>Date Created</th>
                <th>Time Created</th>
                <th>Request Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request in assigned %}
                <tr>
                    <td>{{ request.request_id }}</td>
                    <td>{{ request.date_created }}</td>
                    <td>{{ request.time_created }}</td>
                    <td>{{ request.description }}</td>
                    <td>
                        <form method="post" action="{{ url_for('housekeeping_staff_dashboard.close', request_id=request.request_id) }}">
                            <input type="submit" value="Close">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No requests assigned yet.</p>
{% endif %}

<button onclick="goBack()">Go Back</button>
<script>
    function goBack() {
      window.history.back();
    }
</script>

{% endblock %}