{% extends 'hospitality_staff_dashboard.html' %}

{% block content %}
<h1>Maintenance Requests</h1>

<a href="{{ url_for('hospitality_staff_dashboard.maintenance_request_closed') }}">See Closed Maintenance Requests</a>


<h2 class="text-center mt-3">Open Maintenance Requests</h2>
{% if open_maintenance_requests %}
<div style="overflow: auto; max-height: 400px;">
    <table class="table table-bordered table-striped primary">
        <thead>
            <tr>
                <th>Request ID</th>
                <th>Description</th>
                <th>Date Created</th>
                <th>Time Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for request in open_maintenance_requests %}
            <tr>
                <td style="text-align: center;">{{ request.request_id }}</td>
                <td>{{ request.description }}</td>
                <td>{{ request.date_created }}</td>
                <td>{{ request.time_created }}</td>
                <td>
                    <form method="post" action="{{ url_for('hospitality_staff_dashboard.maintenance_request_choose', request_id=request.request_id) }}">
                        <input type="submit" value="Choose Staff">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No open maintenance requests.</p>
{% endif %}

<h2 class="text-center">Create a Maintenance Request</h2>
<div class="row justify-content-center mt-3">
    <div class="col-lg-4">
        <div class="card mt-4">
            <div class="card-body">
                <form method="POST" action="{{ url_for('hospitality_staff_dashboard.maintenance_request_view') }}">
                    {{ form.csrf_token }}
                    {{ form.description.label }} {{ form.description() }}
                    {{ form.submit() }}
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}